<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" type="text/css" href="/css/error.css" />
    <title>Error</title>
</head>
<body style="background-color: darkgray; text-align: center;">
<div class="header">
    <div></div>
    <div class="logo">
        <p>You found the Error page!</p>
    </div>
    <div class="navBar">
        <ul>
            <li><a href="register">Or Register</a></li>
            <li><a href="login">Retry Login</a></li>
        </ul>
    </div>
</div>
<div style="text-align: center; display: inline-block">
    <img src="img/fuckyou2.gif" alt="" style="padding-top: 500px"/>
</div>
</body>
</html>